body{
    text-align: center;
    
}
#app{
    width: 100%;
    height: 800px;
    background-color: fuchsia;
    
}#game{
    width: 100%;
    height: 800px;
    background-color:darkmagenta;
    
    
}
#Chatbot{
    width: 100%;
    height: 800px;
    background-color:crimson;
    
    
}
.line{
    height: 5px;
    background-color: black;
    width: 100px;
    margin: 8px auto;
    
}
img{
 transition: transform .2s;   
}
img:hover{
    transform: scale(0.9)
        
}